<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [1]:
import csv, sqlite3
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

Load the SQL magic module

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [7]:
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Establish a connection between SQL magic module and the database `FinalDB.db`

In [8]:
%sql sqlite:///FinalDB.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [16]:
import pandas as pd
import sqlite3

# URLs of the CSV files
crime_csv_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
census_csv_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
schools_csv_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Load the Chicago Crime Data CSV into a DataFrame and save it to the SQLite database
crime_df = pd.read_csv(crime_csv_url)
crime_df.to_sql("CRIME", con, if_exists='replace', index=False)

# Load the Chicago Census Data CSV into a DataFrame and save it to the SQLite database
census_df = pd.read_csv(census_csv_url)
census_df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False)

# Load the Chicago Public Schools CSV into a DataFrame and save it to the SQLite database
schools_df = pd.read_csv(schools_csv_url)
schools_df.to_sql("PUBLIC_SCHOOLS", con, if_exists='replace', index=False)

# Check the list of tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print("Tables in the database:", [table[0] for table in tables])

# Verify the data was inserted by counting rows in each table
cur.execute("SELECT COUNT(*) as total_crimes FROM CRIME;")
total_crimes = cur.fetchone()[0]
print("Total number of crimes recorded:", total_crimes)

cur.execute("SELECT COUNT(*) as total_census_records FROM CENSUS_DATA;")
total_census_records = cur.fetchone()[0]
print("Total number of census records:", total_census_records)

cur.execute("SELECT COUNT(*) as total_schools FROM PUBLIC_SCHOOLS;")
total_schools = cur.fetchone()[0]
print("Total number of public schools records:", total_schools)

# Close the connection
con.close()

Tables in the database: ['CRIME', 'CENSUS_DATA', 'PUBLIC_SCHOOLS']
Total number of crimes recorded: 533
Total number of census records: 78
Total number of public schools records: 566

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [18]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Execute the query to get community area names and numbers with per capita income less than 11000
query = """
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE PER_CAPITA_INCOME < 11000;
"""

cur.execute(query)
results = cur.fetchall()

# Print the results
print("Community areas with per capita income less than 11000:")
for row in results:
    print(f"Community Area Number: {row[0]}, Community Area Name: {row[1]}")

# Close the connection
con.close()

Community areas with per capita income less than 11000:
Community Area Number: 26.0, Community Area Name: West Garfield Park
Community Area Number: 30.0, Community Area Name: South Lawndale
Community Area Number: 37.0, Community Area Name: Fuller Park
Community Area Number: 54.0, Community Area Name: Riverdale

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [19]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to get case numbers for crimes involving minors
query = """
SELECT CASE_NUMBER
FROM CRIME
WHERE DESCRIPTION LIKE '%MINOR%' OR DESCRIPTION LIKE '%JUVENILE%';
"""

cur.execute(query)
results = cur.fetchall()

# Print the results
print("Case numbers for crimes involving minors:")
for row in results:
    print(f"Case Number: {row[0]}")

# Close the connection
con.close()

Case numbers for crimes involving minors:
Case Number: HL266884
Case Number: HK238408

### Problem 4

##### List all kidnapping crimes involving a child?

In [20]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to get case numbers for kidnapping crimes involving a child
query = """
SELECT CASE_NUMBER
FROM CRIME
WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';
"""

cur.execute(query)
results = cur.fetchall()

# Print the results
print("Case numbers for kidnapping crimes involving a child:")
for row in results:
    print(f"Case Number: {row[0]}")

# Close the connection
con.close()

Case numbers for kidnapping crimes involving a child:
Case Number: HN144152

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [21]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to get distinct crime types recorded at schools
query = """
SELECT DISTINCT PRIMARY_TYPE
FROM CRIME
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';
"""

cur.execute(query)
results = cur.fetchall()

# Print the results
print("Types of crimes recorded at schools:")
for row in results:
    print(row[0])

# Close the connection
con.close()

Types of crimes recorded at schools:
BATTERY
CRIMINAL DAMAGE
NARCOTICS
ASSAULT
CRIMINAL TRESPASS
PUBLIC PEACE VIOLATION

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [34]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to get the average safety score for each type of school
query = """
SELECT Safety_Icon, AVG(SAFETY_SCORE) AS average_safety_score
FROM PUBLIC_SCHOOLS
GROUP BY Safety_Icon;
"""

cur.execute(query)
results = cur.fetchall()

# Print the results
print("Average safety score for each type of school:")
for row in results:
    print(f"School Type: {row[0]}, Average Safety Score: {row[1]:.2f}")

# Close the connection
con.close()

Average safety score for each type of school:
School Type: Average, Average Safety Score: 49.12

TypeError: unsupported format string passed to NoneType.__format__

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [26]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to get the top 5 community areas with the highest % of households below poverty line
query = """
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5;
"""

cur.execute(query)
results = cur.fetchall()

# Print the results
print("Top 5 community areas with the highest % of households below poverty line:")
for row in results:
    print(f"Community Area Number: {row[0]}, Community Area Name: {row[1]}, % Households Below Poverty: {row[2]}%")

# Close the connection
con.close()

Top 5 community areas with the highest % of households below poverty line:
Community Area Number: 54.0, Community Area Name: Riverdale, % Households Below Poverty: 56.5%
Community Area Number: 37.0, Community Area Name: Fuller Park, % Households Below Poverty: 51.2%
Community Area Number: 68.0, Community Area Name: Englewood, % Households Below Poverty: 46.6%
Community Area Number: 29.0, Community Area Name: North Lawndale, % Households Below Poverty: 43.1%
Community Area Number: 27.0, Community Area Name: East Garfield Park, % Households Below Poverty: 42.4%

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [29]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to find the most crime-prone community area
query = """
SELECT COMMUNITY_AREA_NUMBER
FROM CRIME
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(*) DESC
LIMIT 1;
"""

cur.execute(query)
result = cur.fetchone()

# Print the community area number with the highest crime count
if result:
    print("Most crime-prone community area number:", result[0])
else:
    print("No data found.")

# Close the connection
con.close()

Most crime-prone community area number: 25.0

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [30]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to find the community area name with the highest hardship index
query = """
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);
"""

cur.execute(query)
result = cur.fetchone()

# Print the community area name with the highest hardship index
if result:
    print("Community area with the highest hardship index:", result[0])
else:
    print("No data found.")

# Close the connection
con.close()

Community area with the highest hardship index: Riverdale

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [31]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

# Query to find the community area name with the most number of crimes
query = """
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER = (
    SELECT COMMUNITY_AREA_NUMBER
    FROM CRIME
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(*) DESC
    LIMIT 1
);
"""

cur.execute(query)
result = cur.fetchone()

# Print the community area name with the most number of crimes
if result:
    print("Community area with the most crimes:", result[0])
else:
    print("No data found.")

# Close the connection
con.close()

Community area with the most crimes: Austin

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>